/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .elementFilter {
        display: block;
    }
    
    .contentDisplay {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .contentCard {
        width: 40%;
    }

    .contentCard img {
        width: 40%;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}