* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

h1, h2, h3, p {
    font-family: "Minecraft";
    color: gold;
}

h1 {
    font-size: 5vw;
}

h1 a {
    color: brown;
}

h1 a:hover{
    color: aqua;
}

h2 {
    font-size: 3vw;
}

img {
    width: 100%;
}

.headerDiv {
    background-color: rgb(0, 0, 53);
    color: white;
    text-align: center;
    padding: 15px 0;
    display: flex;
    justify-content: space-around;
}

body {
    background-color: rgb(54, 54, 133);
}

.optionsSide {
    width: 10%;
}

.optionsSide img {
    border-radius: 20%;
    background-color: brown;
}

.optionsSide button {
    display: contents;
}

.optionsDisplay {
    background-color: brown;
}

.optionsDisplay p {
    padding: 2vh;
    border: 5px solid rgb(102, 29, 29);
}

.optionsDisplay a {
    text-decoration-color: gold;
}

.contentCard {
    text-align: center;
    margin: 3vh;
}

.contentCard:hover, .contentCard:active {
    border: 10px solid aqua;
    background-color: darkcyan;
}

.contentCard p {
    font-size: 3vh;
    margin: 1vh 0;
}

.contentCard img {
    width: 70vw;
}

.contentCard small {
    font-family: "Minecraft";
    color: aqua;
    font-size: 3vh;
}

.elementFilter {
    display: none;
    background-color: brown;
}